.recommend-list-container {
  display: flex;
  flex-direction: column;
  width: 319px;
  padding: 0 60px;
  flex-shrink: 0;
  margin-top: 28px;
  /* background-color: blueviolet; */
}

@media (max-width: 1100px) {
  .recommend-list-container {
    display: none;
  }
}

.recommend-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}
