.poster-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.poster-single-wrap {
  display: flex;
  flex-direction: column;
  width: 470px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.poster-header {
  display: flex;
  align-items: center;
  position: relative;
}
.poster-more {
  position: absolute;
  right: 0;
}

.poster-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.poster-banner {
  width: 468px;
  height: 585px;
  background-color: aqua;
}
