.poster-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 10px;
}

.poster-single-wrap {
  display: flex;
  flex-direction: column;
  width: 470px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.poster-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 4px 8px 4px;
}

.poster-name,
.poster-date {
  padding-right: 10px;
}

.poster-follow button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.poster-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.poster-name {
  font-weight: bold;
}

.poster-date {
  color: #a8a8a8;
}

.poster-banner {
  width: 468px;
  /* height: 585px; */
}

.poster-footer {
  padding: 8px 4px;
}
