.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-main {
  text-align: center;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 420px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.login-title {
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 40px;
  padding: 40px 80px 40px 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

button {
  background-color: #65b5fa;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0095f6;
}

.bottom {
  margin-bottom: 20px;
}

.login-bottom {
  text-align: center;
  font-size: 14px;
}

.login-bottom button {
  background: none;
  border: none;
  color: #3897f0;
  cursor: pointer;
}
