.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-main {
  text-align: center;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;

  width: 350px;
  height: 400px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.login-title {
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 40px;
  padding: 40px 80px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  width: 260px;
  height: 20px;
}

.facebook-login button,
.forgot-password button,
.signup-button button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.insta-login button {
  background-color: #65b5fa;
  color: #fff;
  border: none;
  border-radius: 8px;

  width: 270px;
  height: 30px;
  margin: 8px 40px;
}

.facebook-login {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 8px 40px;
}

.facebook-login img {
  width: 16px;
  height: 16px;
  margin: 0px 8px;
}

.facebook-login button {
  color: #385185;
  font-size: 14px;

  width: 150px;
  height: 16px;
}

.forgot-password button {
  color: #00376b;
  font-size: 12px;

  margin: 10px 40px;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;

  width: 350px;
  height: 60px;
  margin: 0px 0px 10px;
  padding: 10px 0;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.signup-button button {
  color: #3897f0;

  font-size: 14px;
}

.app-download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-text {
  width: 310px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.app-download_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 45px;
  margin: 8px 0px;
}

.app-store img,
.google-play img {
  width: 130px;
  height: 40px;
  margin: 0 10px;
}
