@media (max-width: 840px) {
  .iphone-img img {
    display: none;
  }
}

.phone-container {
  display: flex;
}

.iphone-img img {
  width: 470px;
  height: 650x;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;

  width: 350px;
  height: 70vh;
  margin: 0px 0px 10px;
  padding: 10px 0px;
}

.login-logo img {
  width: 175px;
  height: 50px;
  padding: 40px 80px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  width: 260px;
  height: 20px;
}

.insta-login button {
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;

  width: 270px;
  height: 30px;
  margin: 8px 40px;
}

.facebook-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 40px;
}

.facebook-login button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;

  color: #385185;
  font-size: 14px;
}

.facebook-login span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-login img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.error-msg {
  color: #ed4956;
  font-size: 14px;
  width: 270px;
  margin: 10px 40px;
}

.forgot-password button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;

  color: #00376b;
  font-size: 12px;

  margin: 10px 40px;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #dbdbdb;

  width: 350px;
  height: 60px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.signup-button button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;

  color: #3897f0;

  font-size: 14px;
}

.app-download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-text {
  width: 310px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.app-download_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 45px;
  margin: 8px 0px;
}

.app-store img,
.google-play img {
  width: 130px;
  height: 40px;
  margin: 0px 10px;
}
