.app-download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-text {
  width: 310px;
  height: 20px;
  text-align: center;
  font-size: 14px;
}

.app-download_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 45px;
  margin: 8px 0px;
}

.app-store img,
.google-play img {
  width: 130px;
  height: 40px;
  margin: 0px 10px;
}
